<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Sitecore.Analytics.Pipelines.CreateVisits.XForwardedFor, Sitecore.Analytics">
          <patch:attribute name="type">Sitecore.Support.Analytics.Pipelines.CreateVisits.XForwardedFor,Sitecore.Support.132442</patch:attribute>
        </processor>
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>